* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d004d;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-bar {
  align-items: center;
}

.logo img {
  flex: 1;
  max-height: 20vh; /* Ajusta el tamaño del logo */
  max-width: auto;
}

main {
  background-color: #0d004d;
  display: flex; /* Flexbox para alinear los rectángulos horizontalmente */
  justify-content: center; /* Centra los rectángulos en el contenedor */
  align-items: center; /* Centra los rectángulos en el contenedor */
  flex-direction: column;
  height: 100vh; /* Abarca toda la altura */
  width: 100%; /* Abarca toda la anchura */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  text-align: center;
  padding: 20px;
  height: auto;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.dynamic-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 45px;
  color: #6b0f1a;
  text-transform: capitalize;
  letter-spacing: 2px;
  position: relative;
  opacity: 1;
  transform: translateY(-20px);
  animation: fadeInSlide 1s ease-out forwards;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px white;
}

.about {
  background-color: #595959;
  padding: 40px;
  border-radius: 10px;
  line-height: 1.8;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 20px;
  text-align: justify;
}

.about p {
  font-size: large;
  font-weight: bolder;
  color: white;
  margin-bottom: 0px;
  transition: color 0.3s ease;
}

.about:hover {
  transform: translateY(-15px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 4px black;
}

.globe-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.globe-container {
  width: 100%;
  max-width: 600px;
  height: 400px;
}

.globe {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .globe-container {
    height: 300px;
  }
}

@media (max-width: 576px) {
  .globe-container {
    height: 200px;
  }
}


